.cards-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    margin: $standart-margin;
    padding: $standart-padding;

    &__img {
        margin: $smaller-margin;
    }

    &__favourite-sign {
        position: absolute;
        top: 20px;
        right: 7px;
    }

    &__favourite-sign.marked {
        fill: $red-invalid-color;
    }

    &__favourite-sign :hover {
        fill: $darker-gray-color;
    }

    &__favourite-sign.marked :hover{
        fill: #c53434;
    }

    &__name, &__price {
        font-weight: bold;
        margin-bottom: $smaller-margin;
    }

    &__name {
        color: $dark-blue-color;
    }

    &__price {
        font-size: 1.2rem;
    }

    &__amount {
        width: 30%;
        margin: auto;
    }

    &__btns {
        display: flex;
    }

    .remove-from-cart {
        background-color: $red-invalid-color;
        margin-left: $standart-margin;
        margin-right: $standart-margin;
    }
    
    .remove-all-from-cart {
        background-color: $darker-gray-color;
    }
}

.card-vertical {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 60px;
    }
}

.card-horizontal {
    display: flex;
    align-items: center;

    &__img {
        max-width: 150px;
    }

    &__description {
        display: none;
    }

    .add-to-cart {
        margin-left: $standart-margin;
    }

    &__name, &__price {
        margin-right: $standart-margin;
    }

    &__price {
        min-width: fit-content;
    }
}
