.products {
    display: flex;
    flex-wrap: wrap;

    .cart-link {
        position: absolute;
        top: 5px;
        right: 20px;
    }

    .cart-size, .favourites-size {
        position: absolute;
        top: 0;
        right: -20px;
        background-color: $red-invalid-color;
        border-radius: 50%;
        color: white;
        width: 20px;
        height: 20px;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .favourites-link {
        position: absolute;
        top: 5px;
        left: 20px;
    }
}

.products-link {
    position: absolute;
    top: 5px;
    left: 20px;
}
