// colors
$dark-blue-color: #0b0b48;
$gray-color: gray;
$darker-gray-color: #504e4e;
$red-invalid-color: red;
$green-valid-color: green;

// margin, padding
$standart-margin: 15px;
$standart-padding: 15px;

$smaller-margin: 10px;
$smaller-padding: 10px;

// sizes
$input-radio-size: 15px;
$dropdown-height: 220px;